@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: rgba(1, 186, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 200px;
}

.text {
    margin: 20px;
}